<!-- 內容 team-content-banner -->  
<section class="team-content-banner">
  <div class="content-background">
    <div class="content-banner">
      <!--img src="/image/content-banner-1.jpg" alt=""-->
      <%= image_tag ("image/content-banner-1.jpg"), alt: 'avatar' %> 
      <!--<span>放入文字</span>-->
    </div>
  </div> 
</section>

<!-- 內容 team -->  
<section class="team">
  <div class="container">
    <h4>成員</h4>
    
    <ul class="team-navigation">
      <li><%= link_to"教授",teamleader_laboratories_path %></li>
      <li><a href="#graduate">研究所</a></li>
      <li><a href="#undergraduate">大學部</a></li>
      <li><a href="#senior">歷屆成員</a></li>      
    </ul> 
  </div>
</section>


<!---member-student實驗室成員-->
<section class="member">
  <div class="container">
    <!--碩士生-->
    <div class="col-md-12">
      <div id="graduate" class="student">碩士生</div>
    
      <!--one-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading panel-title text-center">
            賴育忠 ( YU-CHUNG LAI )
          </div>
          <div class="panel-body">
            <!--img src="/image/member/master/賴育忠/lai.jpg" alt=""-->
            <%= image_tag ("image/member/master/lai.jpg"), alt: 'avatar' %>
          </div>
          <div class="panel-footer text-center">
            <span>研究主題</span>  
          </div>
        </div>
      </div>

      <!--two-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading panel-title text-center">
            賴育忠 ( YU-CHUNG LAI )
          </div>
          <div class="panel-body">
            <!--img src="/image/member/master/賴育忠/lai.jpg" alt=""-->
            <%= image_tag ("image/member/master/賴育忠/lai.jpg"), alt: 'avatar' %>
          </div>
          <div class="panel-footer text-center">
            <span>研究主題</span>  
          </div>
        </div>
      </div>

      <!--three-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading panel-title text-center">
            賴育忠 ( YU-CHUNG LAI )
          </div>
          <div class="panel-body">
            <!--img src="/image/member/master/賴育忠/lai.jpg" alt=""-->
            <%= image_tag ("image/member/master/賴育忠/lai.jpg"), alt: 'avatar' %>
          </div>
          <div class="panel-footer text-center">
            <span>研究主題</span>  
          </div>
        </div>
      </div>
    
      <div class="clearfix"></div>
      <!--大學部-->
      <div id="undergraduate" class="student">大學部</div>
    
      <!--one-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading panel-title text-center">
            賴育忠 ( YU-CHUNG LAI )
          </div>
          <div class="panel-body">
            <!--img src="/image/member/master/賴育忠/lai.jpg" alt=""-->
            <%= image_tag ("image/member/master/賴育忠/lai.jpg"), alt: 'avatar' %>
          </div>
          <div class="panel-footer text-center">
            <span>專題生</span>  
          </div>
        </div>
      </div>

      <!--two-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading panel-title text-center">
            賴育忠 ( YU-CHUNG LAI )
          </div>
          <div class="panel-body">
            <!--img src="/image/member/master/賴育忠/lai.jpg" alt=""-->
            <%= image_tag ("image/member/master/賴育忠/lai.jpg"), alt: 'avatar' %>
          </div>
          <div class="panel-footer text-center">
            <span>專題生</span>  
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
      <!--歷屆成員-->
      <div id="senior" class="student">畢業成員</div>
    
      <!--one-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading panel-title text-center">
            第一屆
          </div>
          <div class="panel-body">
            <span>陳龍泰</span>
            <span>王凱正</span>
            <span>林惠川</span>    
          </div>
        </div>
      </div>
      <!--two-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading panel-title text-center">
            第二屆
          </div>
          <div class="panel-body">
            <span>吳佳融</span>
            <span>許翰昇</span>
            <span>黃志傑</span>
            <span>陳志豪</span>
            <span>程聖傑</span>
          </div>
        </div>
      </div>
      <!--three-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading panel-title text-center">
            第三屆
          </div>
          <div class="panel-body">
            <span>洪裕民</span>
            <span>施博淵</span>
          </div>
        </div>
      </div>
      <!--four-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading panel-title text-center">
            第四屆
          </div>
          <div class="panel-body">
            <span>林吉甫</span>
            <span>陳嘉賢</span>
            <span>陳郁仁</span>
            <span>鍾享牟</span>
          </div>
        </div>
      </div>
      <!--five-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading panel-title text-center">
            第五屆
          </div>
          <div class="panel-body">
            <span>許育純</span>
            <span>陳佳汝</span>
            <span>林易緯</span>
          </div>
        </div>
      </div>
      <!--six-->
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading panel-title text-center">
            第六屆
          </div>
          <div class="panel-body">
            <span>李尚樺</span>
             <span> 蔡婷雅</span>
            <span>劉柏宏</span>
            <span>廖文楷</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>